<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Uca Eats!</title>

    <div class="login-container">
        <h1>¡Bienvenido a Uca Eats!</h1>
        <form action="autentic.php" method="post">
            <label for="username">Usuario:</label>
            <input type="text" name="username" id="username" required>

            <br><br>

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" required>
            <div class="container">

  <a href="#" class="button type--C">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text">Ir a Inicio</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
  </a>
             <a href="#" class="button type--C">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">Entrar</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
            </a>
        </form>
    </div>
