 body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:sans-serif;
    background:#f2f2f2
}
    .card{
        background:#fff;
        padding:20px;
        border-radius:8px;
        box-shadow:0 0 10px rgba(0,0,0,0.1);
        width:300px
    }
    form{
        display:flex;
        flex-direction:column;
        gap:10px
    }
    label{
        font-size:14px
    }
    input{
        padding:8px;
        border:1px solid #ccc;
        border-radius:4px
    }
    button
    {
        padding:8px;
        border:0;
        background:#333;
        color:#fff;
        border-radius:4px;
        cursor:pointer
    }
    h2
    {
        color:  #3752cc;;
    }