.ContenedorItems {
    grid-column:2;
    padding: 1px;
  width: 700px;
  height: 650px;
  overflow: auto; /* Opcional: scroll, hidden, visible */
  border-radius: 10px;
}
.contenedorPrincipal
{
    place-items: center;
    width: 100vw;
    height: 100vh;
}
.FoodDescription
{
    padding: 5px;
    width: fit-content;
    height:fit-content;
}
.Item
{   
    
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}
.FoodImage
{
    padding: 10px;
}
.FoodBtns
{
    padding-left: 10px;
    gap: 10px;
}
.Menos
{
    border-radius: 100%;
}
.Mas
{
    border-radius: 100%;
}
.ContenedorInfo
{
    grid-column:1;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
html, body {
        margin: 0;
        padding: 0;
        overflow: hidden; /* Prevent scrolling if content overflows */
        scroll-behavior: smooth;
        background: url('./Images/fondo2.png') no-repeat center center fixed;
        background-size: cover;
    }
    /* From Uiverse.io */ 
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(55, 98, 190);
  border: 2px solid rgb(55, 98, 190);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(55, 98, 190);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #030303;
  scale: 1.1;
  box-shadow: 0 0px 20px rgb(30, 57, 116);
}

.button:active {
  scale: 1;
}
