.div1
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 650px;
    margin: 40px auto;
}
.figura1
{
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 250px;
    
}
/*Hover para figures*/
.figura1:hover
{
    
}
.review-card {
  position: fixed;
  right: -100%; 
  transform: translateY(+100%);
  animation: slideInRight 1.0s ease forwards;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  border:none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
}
@keyframes slideInRight {
    0% {
        right: -100%;
        opacity: 0;
    }
    100% {
        right: -90%;
        opacity: 1;
    }
}

.bg {
  position: absolute;
  width: 190px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
  padding: 10px;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #001aff;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
dialog::backdrop
{
    background: transparent;
    position: absolute;
}
