.div1
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 650px;
    margin: 40px auto;
}
.figura1
{
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 250px;
    
}
/*Hover para figures*/
.figura1:hover
{
    
}
/*diseno del popUp que te envia a las resenas*/
.review-card {
  position: fixed;
  right: -100%; 
  transform: translateY(-50%);
  animation: slideInRight 2.0s ease forwards;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  border:none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
}
/*animacion de popUp*/
@keyframes slideInRight {
    0% {
        right: -100%;
        opacity: 0;
    }
    100% {
        right: -90%;
        opacity: 1;
    }
}

.bg {
  position: absolute;
  width: 190px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
  padding: 10px;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #001aff;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}
/*animacion de los bordes*/
@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.review-card::backdrop
{
    background: transparent;
    position: absolute;
}

/* todo el estilo del popUp con el formulario */
.popUp-review {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  
}
.popUp-review form
{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.review-page-group
{
  position: relative;
}
.popUp-review form .review-page-group label
{
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}
.popUp-review form .review-page-group input,
form .review-page-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.popUp-review form .review-page-group input:placeholder-shown+ label, .popUp-review form .review-page-group textarea:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}

.popUp-review form .review-page-group input:focus,
.popUp-review form .review-page-group textarea:focus {
  border-color: #3366cc;
}

.popUp-review form .review-page-group input:focus+ label, .popUp-review form .review-page-group textarea:focus +label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.popUp-review form .review-page-group textarea {
  resize: none;
  height: 100px;
}
/* decoracion de las estrellas */
.calificacion fieldset {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;   
  align-items: start;
  margin-bottom: 20px;   
}
.calificacion input
{
  display: none;
}
.calificacion label {
  font-size: 30px; 
  color: #ccc;
  cursor: pointer;
}
.calificacion label:hover,
.calificacion input:checked ~ label {
  color: rgb(255, 251, 0); 
}

